* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    height: 80vh;
    width: 50vw;
}

.container form {
    text-align: center;
    padding: 4%;
}

.container form input {
    padding: 18px 200px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.container form input[type=text] {
    padding-left: 4px;
    transition: 0.5s;
    outline: none;
    font-weight: bolder;
    border: 2px solid white;
}

.container form input[type=text]:focus {
    border: 2px solid white;
}

button {
    padding: 18px 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

#search {
    margin-left: 19%;
    justify-content: center;
    color: black;
    width: 32vw;
}

#search a {
    color: black;
}

@media screen and (max-width:480px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container form {
        padding: 0%;
    }

}

@media screen and (max-width:512px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container form {
        padding: 0%;
    }

}

@media screen and (max-width:720px) {
    .container {
        height: fit-content;
        width: fit-content;

    }

    .container form {
        padding: 0%;
    }

}

@media screen and (max-width:1080px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container form {
        padding: 0%;
    }

}